<ion-content class="centered_vertically">
    Comienza el test
    <button (click)="returnBack()">volver</button>
    <ion-row>
        <ion-card class="test_card">
            <ion-card-header>
                {{currentAsk.title}}
            </ion-card-header>

            <ion-card-content>
                {{currentAsk.description}}
            </ion-card-content>

            <ion-row>
                <ion-col *ngFor="let answer of currentAsk.answers">
                    <button ion-button icon-left clear small>
                        {{answer}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-row>
    <ion-row class="test_navigation">
        <button *ngIf="currentNumAsk != test.length" ion-button round outline color="default" class="bt_no_border" (click)="nextQuestion()">Siguiente</button>
        <button *ngIf="currentNumAsk == test.length" ion-button round outline color="default" class="bt_no_border" (click)="finishTest()">Finalizar</button>
    </ion-row>
    <ion-row class="test_summary">
        <p>Pregunta {{currentNumAsk}} de {{test.length}}</p>
    </ion-row>
</ion-content>
