page-test {

    .centered_container {
        display: flex;
        flex-direction: column;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .test_card {
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 5vh;
    }

    .answer_card {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .aswered_card {
        background-color: #DAF7A6;
    }

    .test_summary {
        display: flex;
        justify-content: center;
    }

    .test_navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bt_no_border {
        border: none;
    }

    .bt_selected {
        background-color: white;
        border-bottom: 1px solid blue;
    }
}
