page-test {

    .centered_vertically { 
        display: flex;           
        flex-direction: column;  
        justify-content: center; 
        align-items: center;    
        height: 300px;
    }

    .test_card {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .test_summary {
        display: flex;
        justify-content: center;
    }

    .test_navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bt_no_border {
        border: none;
    }
}
